<header>
    <div class="nav-and-brand">
        <div id="logo">
            SITE NAME
        </div>
        <nav class="navigation">
            <%- include('../includes/navigation.ejs') %>
        </nav>
    </div>
</header>